<div th:fragment="busca" remove="tag">

<div class="container-fluid busca" id="busca">
  <div style="height: 70px;"></div>
  <h4 class="row d-flex justify-content-center">Selecione seu destino...</h4>
  <form th:action="@{/busca}">
    <div class="card text-dark bg-warning mb-3">
      <div class="card-body">        
	    <div class="input-group input-group-lg" style="padding: 20px;">
		  <span class="input-group-text" id="inputGroup-sizing-lg">Destino</span>
		  <input type="text" class="form-control" th:name="busca">
		</div>     
        <div class="input-group input-group-lg justify-content-center" style="padding: 20px;">
          <button type="submit" class="btn btn-primary">Buscar pacotes</button>
        </div>
       </div>
      </div>
    </div>
  </form>
</div>

</div>