<div th:fragment="footer" remove="tag">

<footer class="text-center text-white" style="background-color: rgb(242, 242, 218);">
    <!-- Grid container -->
    <div class="container-fluid pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://wa.me/5515997311014" role="button" data-mdb-ripple-color="dark">
            <i class="bi bi-whatsapp principal" style="font-size: 55px;"></i>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/william-henrique-campos-98568813a/" role="button" data-mdb-ripple-color="dark">
            <i class="bi bi-linkedin principal" style="font-size: 55px;"></i>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/willhc1984" role="button" data-mdb-ripple-color="dark">
            <i class="bi bi-github principal" style="font-size: 55px;"></i>
        </a>

    <!-- Grid container -->      
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: gold">
      © 2023 Copyright
      <a class="text-dark" href="/dashboard"><p>Acessar area administrativa</p></a>
      Usuario: admin@master - Senha: 123
    </div>
    <!-- Copyright -->
</footer>

</div>