<div th:fragment="footer" remove="tag">

<footer class="text-center text-white" style="background-color: rgb(242, 242, 218);">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
            <i class="bi bi-facebook" style="font-size: 55px;"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
            <i class="bi bi-whatsapp" style="font-size: 55px;"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
            <i class="bi bi-linkedin principal" style="font-size: 55px;"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
            <i class="bi bi-github principal" style="font-size: 55px;"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
            <i class="bi bi-twitter" style="font-size: 55px;"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
            <i class="bi bi-instagram" style="font-size: 55px;"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->      
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: gold">
      © 2023 Copyright:
      <a class="text-dark" href="#">XTUR.com</a>
    </div>
    <!-- Copyright -->
</footer>

</div>