<div th:fragment="promocoes" remove="tag">

<div class="container-fluid" id="promocoes">
  <div style="height: 70px;"></div>
    <h4 class="row d-flex justify-content-center">Promoções</h4>
    <div class="row justify-content-center">
        <div class="card" style="width: 15rem;">
            <img src="/images/card1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Maragogi</h5>
              <p class="card-text">$ 1550.00</p>
              <a href="/pagamento/1" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="/images/card2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Maceió</h5>
              <p class="card-text">$ 895.00</p>
              <a href="/pagamento/1" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="/images/card3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tailandia</h5>
              <p class="card-text">$ 2895.00</p>
              <a href="/pagamento/1" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card" style="width: 15rem;">
            <img src="/images/card4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roma</h5>
              <p class="card-text">$ 2114.00.</p>
              <a href="/pagamento/1" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="/images/card5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Maldivas</h5>
              <p class="card-text">$ 3874.00</p>
              <a href="/pagamento/1" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="/images/card6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fernando de Noronha</h5>
              <p class="card-text">$ 2470.00</p>
              <a href="/pagamento/1" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>

</div>
