<!doctype html>
<html lang="en">
  <head>
    <div th:replace="fragments/header"></div>
  </head>
  <body>
    
    <div style="padding-top: 80px;"></div>

    <div th:replace="fragments/nav-dashboard"></div>
    
    <div class="container">
      <h1>Cadastrar cidade</h1>
      <form>
        <div class="row col-lg-4 col-md-6">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="row col-lg-4 col-md-6">
          <div class="mb-1">
            <label for="select" class="form-label">Estado</label>
            <select class="form-select" aria-label="Default select example" id="select">
              <option selected>Selecione o estado</option>
              <option value="1">SP</option>
              <option value="2">RJ</option>
              <option value="3">MG</option>
              <option value="3">PE</option>
              <option value="3">CE</option>
              <option value="3">AL</option>
              <option value="3">AP</option>
            </select>
          </div>
        </div>
        <div class="row col-lg-4 col-md-6">
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Web site</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
   
   <div th:replace="fragments/footer"></div>
    
  </body>
</html>