<!doctype html>
<html lang="en">
  <head>
    <div th:replace="fragments/header"></div>
  </head>
  <body>
    
    <div style="padding-top: 80px;"></div>

	<div th:replace="fragments/nav-dashboard"></div>
    
    <div class="container">
      <h1>Cadastrar hotel</h1>
      <form>
        <div class="row col-lg-4 col-md-6">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Nome do hotel</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="row col-lg-4 col-md-6">
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Valor da diária</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
   
    <div th:replace="fragments/footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

  </body>
</html>