<!doctype html>
<html lang="en">
  <head>
    <div th:replace="fragments/header"></div>
  </head>
  <body>
    
    <div style="padding-top: 80px;"></div>
    
    <div th:replace="fragments/nav-dashboard"></div>
    
    <div class="container">
      <h1>Cadastrar usuário</h1>
      <form>
        <div class="row col-lg-4 col-md-6">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="row col-lg-4 col-md-6">
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
        <div class="row col-lg-4 col-md-6">
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
        <div class="row col-lg-4 col-md-6">
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Repita a senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
   
   <div th:replace="fragments/footer"></div>
    
  </body>
</html>