<!doctype html>
<html lang="en">
  <head>
    <div th:replace="fragments/header"></div>
  </head>
  <body>
    
    <div style="padding-top: 80px;"></div>
    
    <div th:replace="fragments/nav-dashboard"></div>
    
    <div class="container">
    	<div th:replace="fragments/alerts"></div>
      <h3>Hoteis cadastrados</h3>
      <a href="/dashboard/hoteis/cadastrar/" class="btn btn-primary">Cadastrar</a>
      <table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nome</th>
		      <th scope="col">Cidade</th>
		      <th scope="col">Valor da diaria</th>
		      <th scope="col">Ações</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="hotel : ${hoteis}">
		      <td th:text="${hotel.id}"></td>
		      <td th:text="${hotel.nome}"></td>
		      <td th:text="${hotel.cidade.nome}"></td>
		      <td th:text="${hotel.valorDiaria}"></td>
		      <td>
		      	<a th:href="@{/dashboard/hoteis/{id}(id=${hotel.id})}"><i class="bi bi-pen-fill"></i></a>
		      	<a th:href="@{/dashboard/hoteis/excluir/{id}(id=${hotel.id})}" onclick="return confirm('Confirma exclusão?')"><i class="bi bi-trash3-fill"></i></a>
		      </td>
		    </tr>
		  </tbody>
		</table>
      
    </div>
   
   <div th:replace="fragments/footer"></div>
    
  </body>
</html>