<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Pagamento</title>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" href="/css/pagamento.css">
  
</head>
<body>
	
	<div style="padding-top: 80px;"></div>
	
	<div th:replace="fragments/nav"></div>
	
    <div class="container">
        <h1 class="text-center mt-4 mb-4">Confirmar Pagamento</h1>
        
        <div class="row justify-content-center">
	        <div class="card text-bg-warning mb-3 mb-4 text-center col-lg-6 col-md-8 col-sm-10" style="margin-bottom: 20px;">
	            <div class="card-body">
	                <h5 class="card-title">Valor da Compra</h5>
	                <p class="card-text" th:text="${@valorTotal.valorTotal(pacote.id)}"></p>
	            </div>
	        </div>
	        
	        <div class="card border-warning mb-3 mb-4 col-lg-6 col-md-8 col-sm-10">
	            <div class="card-body">
	                <form th:action="@{/compras}" th:object="${compra}" method="POST">
	                	<input type="hidden" th:field="${compra.id}" />
	                	<input type="hidden" th:field="${compra.user}" />
	                    <div class="row mb-3">
	                        <label for="nomeImpresso" class="col-sm-6 col-form-label">Nome Impresso no Cartão:</label>
	                        <div class="col-sm-6">
	                            <input type="text" class="form-control" th:field="${compra.nomeImpresso}" id="nomeImpresso" required />
	                        </div>
	                    </div>
	                    <div class="row mb-3">
	                        <label for="numeroCartao" class="col-sm-6 col-form-label">Número do Cartão:</label>
	                        <div class="col-sm-6">
	                            <input type="text" class="form-control" th:field="${compra.numeroCartao}" id="numeroCartao" required />
	                        </div>
	                    </div>
	                    <div class="row mb-3">
	                        <label for="validade" class="col-sm-6 col-form-label">Validade:</label>
	                        <div class="col-sm-6">
	                            <input type="date" class="form-control" th:field="${compra.validade}" id="validade" required />
	                        </div>
	                    </div>
	                    <div class="row mb-3">
	                        <label for="cvv" class="col-sm-6 col-form-label">CVV:</label>
	                        <div class="col-sm-6">
	                            <input type="text" class="form-control" th:field="${compra.cvv}" id="cvv" required />
	                        </div>
	                    </div>
	                    <div class="d-grid gap-2">
	                        <button type="submit" class="btn btn-success btn-lg">Finalizar</button>
	                    </div>
	                </form>
	            </div>
	        </div>
        </div>
    </div>
    
    <div th:replace="fragments/footer"></div>
    
</body>
</html>
