<!doctype html>
<html lang="en">
  <head>
    <div th:replace="fragments/header"></div>
  </head>
  <body>
    
    <div th:replace="fragments/nav"></div>

    <div style="padding-top: 80px;"></div>

    <div class="container">
      <div>
        <h2>A empresa</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet malesuada sapien, sed lobortis sem. Praesent nec libero ante. Sed a lacinia magna. Vivamus euismod consectetur posuere. Praesent ut risus vitae odio venenatis vulputate. Donec scelerisque justo eu est aliquam feugiat. Mauris fringilla purus vel magna mollis efficitur. Integer in elit enim. Pellentesque sit amet magna finibus, posuere mi congue, malesuada nisl. Praesent consectetur blandit dignissim. In velit libero, hendrerit quis est in, faucibus ultricies enim. Suspendisse sit amet commodo purus.</p>
      </div>
    </div>
    
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem;">
            <i class="bi bi-hourglass-split" style="font-size: 60px;"></i>
            <div class="card-body">
              <a href="#nossa-historia"><h5 class="card-title">Nossa história</h5></a>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet malesuada sapien, sed lobortis sem. Praesent nec libero ante. Sed a lacinia magna. Vivamus euismod consectetur posuere.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem;">
            <i class="bi bi-trophy-fill" style="font-size: 60px;"></i>
            <div class="card-body">
              <a href="#nossos-premios"><h5 class="card-title">Nossos prêmios</h5></a>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet malesuada sapien, sed lobortis sem. Praesent nec libero ante. Sed a lacinia magna. Vivamus euismod consectetur posuere.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-4">
          <div class="card" style="width: 18rem;">
            <i class="bi bi-tools" style="font-size: 60px;"></i>
            <div class="card-body">
              <a href="#trabalhe-conosco"><h5 class="card-title">Trabalhe conosco</h5></a>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet malesuada sapien, sed lobortis sem. Praesent nec libero ante. Sed a lacinia magna. Vivamus euismod consectetur posuere.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="nossa-historia">
      <div style="height: 70px;"></div>
      <h2>XTUR</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet malesuada sapien, sed lobortis sem. Praesent nec libero ante. Sed a lacinia magna. Vivamus euismod consectetur posuere. Praesent ut risus vitae odio venenatis vulputate. Donec scelerisque justo eu est aliquam feugiat. Mauris fringilla purus vel magna mollis efficitur. Integer in elit enim. Pellentesque sit amet magna finibus, posuere mi congue, malesuada nisl. Praesent consectetur blandit dignissim. In velit libero, hendrerit quis est in, faucibus ultricies enim. Suspendisse sit amet commodo purus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet malesuada sapien, sed lobortis sem. Praesent nec libero ante. Sed a lacinia magna. Vivamus euismod consectetur posuere. Praesent ut risus vitae odio venenatis vulputate. Donec scelerisque justo eu est aliquam feugiat. Mauris fringilla purus vel magna mollis efficitur. Integer in elit enim. Pellentesque sit amet magna finibus, posuere mi congue, malesuada nisl. Praesent consectetur blandit dignissim. In velit libero, hendrerit quis est in, faucibus ultricies enim. Suspendisse sit amet commodo purus.</p>
    </div>
      
    <div class="container" id="nossos-premios">
      <div style="height: 70px;"></div>
      <div class="row">
        <h3 class="text-center" style="margin-top: 30px;">Nossos premios</h3>
        <div class="col-md-6 col-sm-12 col-lg-4">          
          <div class="card border-warning mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                <img src="/images/premiacao1.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet malesuada.</p>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="col-md-6 col-sm-12 col-lg-4">          
          <div class="card border-warning mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                <img src="/images/premiacao2.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet malesuada</p>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="col-md-6 col-sm-12 col-lg-4">          
          <div class="card border-warning mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                <img src="/images/premiacao3.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet malesuada</p>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>      
    </div>
  </div>
  
  <div class="container trabalhe-conosco" id="trabalhe-conosco">
    <h3 class="text-center" style="margin-top: 30px;">Trabalhe conosco!</h3>
    <form>
      <div class="row d-flex justify-content-center">        
        <div class="col-4">
          <input class="form-control" type="text" placeholder="Seu nome">
        </div>
        <div class="col-4">
          <input class="form-control" type="email" placeholder="Seu email" />
        </div>
      </div>
      <div class="row d-flex justify-content-center">        
        <div class="col-4">
          <input class="form-control" type="text" placeholder="Vaga pretendida">
        </div>
        <div class="col-4">
          <input type="file" class="form-control" id="inputGroupFile02">
        </div>
      </div> 
      <div class="row d-flex justify-content-center">
        <div class="col-1">
          <button type="submit" class="btn btn-primary" onclick="alert('Obrigado! Entraremos em contato.')">Enviar</button>
        </div>       
      </div>
    </form>
  </div>

	<div th:replace="fragments/footer"></div>
  
  </body>
</html>